<link rel="stylesheet" href="../assets/css/components/header.css">
<!-- HEADER NUEVO -->
<header>
    <!-- Barra superior -->
    <div class="top-bar">
        <div class="social-icons">
            <i class="fab fa-facebook-f"></i>

        </div>
        <div class="contact-info">
            <span><i class="fas fa-envelope"></i> bomberossantarosadelsur@gmail.com</span>
            <span><i class="fas fa-phone"></i> +(57) 322 725 2434</span>
        </div>
    </div>

    <!-- Barra de navegación principal -->
    <div class="main-nav">
        <div class="logo">
            <img src="../images/logo.png" alt="Logo Bomberos" id="bomber">
        </div>
        <nav>
            <a href="#">Inicio</a>
            <a href="../pages/about.html">Sobre Nosotros</a>
            <a href="#">Servicios</a>
            <a href="#">Unirse</a>
            <a href="#">Contacto</a>
        </nav>
        <div class="search-button">
            <i class="fas fa-search"></i>
        </div>
    </div>
</header>